.py-base {
  padding-block: var(--py-base);
}

.py-lg {
  padding-block: var(--py-lg);
}

.py-xl {
  padding-block: var(--py-xl);
}

.px-lg {
  padding-inline: var(--px-lg);
}

.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2); /*vezes 2 para olhar dos dois lados inline*/
  margin-inline: auto;
}

.desktop-only { /* Pois o projeto é mobile-first */
  display: none;
}

.even-columns { /* Um a baixo do outro */
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: 1rem;
}

.grid {
  display: grid;
}

@media (width >= 80em) {
  .container {
    --max-width: 80rem;
  }

  .desktop-only {
    display: initial; /* Vai pegar o display inicial daquela tag */
  }

  .even-columns { /* flow de coluna e cada coluna ocupa uma fatia por igual */
    grid-auto-flow: column; /* Um ao lado do outro */
    grid-auto-columns: 1fr;
  }
}